@charset "UTF-8";

    /* em HTML é id em CSS é #
    em HTML class em CSS é . */

body{
    background-color:rgb(205, 255, 205) ;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4,100,0);
}

#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color:rgb(52,77,49);
}

.basico{
    color: #132600;
}

.intermediario{
    color: #274d02;
}

.avancado{
    color: #458801;
}